*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg.png)
}

.wrapper{
    width:700px;
    background-color: grey;
    border-radius: 25px ;
    opacity: 0.9;
    height:auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input, select{
    padding: 20px;
    font-size: 20px;
}

.firstDiv{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding-top: 30px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 20px;
    color:#fff;
}

button{
    padding: 15px;
    font-size: 50px;
    border-radius: 25px;
    margin:10px;
    color:cornflowerblue;
}

span{
    font-size: 20px;
    color:#fff;
    margin: 10px;
}